body{
    font-family: Arial, sans-serif;
    margin:0;
    background:#111;
    color:white;
}

header{
    display:flex;
    justify-content:space-between;
    padding:20px;
    background:#000;
}

nav a{
    color:white;
    margin-left:15px;
    text-decoration:none;
}

section{
    padding:60px 20px;
}

.projeto{
    background:#1e1e1e;
    padding:20px;
    margin:20px 0;
    border-radius:10px;
}
html{
  scroll-behavior: smooth;
}
@media (max-width: 768px) {

header{
text-align:center;
}

nav{
display:flex;
flex-direction:column;
gap:10px;
}

.projeto{
width:100%;
}

}